*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(48, 182, 182);
}

header{
    display: inline-block;
    padding-bottom: 20px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}
h2{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section{
    display: flex;
    justify-content: center;
    
}

.container{
    margin-top: 45px;
    border: 2px solid black;
    border-radius: 25px;
    width: 280px;
    height: 280px;
    font-size: 14px;
    box-shadow: 0px 0px 30px 10px  ;
    
}
.container h2{
    text-align: center;
}

form{
    
    text-align: center;
    
    
}

form input{
    margin-bottom: 5px;
    margin-top: 5px;
}

form h1{
    text-decoration: none;
    margin: 0;
    font-size: 14px;
}

button{
    margin-top: 25px;
    margin-bottom: 25px;
}




@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }