* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(43, 226, 52); 
}

header{
    background-color: rgb(31, 192, 138);
    text-align: center;
    border-bottom: 2px solid black;
}

 .container{
     width: 100%;
     min-width: 235px;
     max-width: 500px;
     margin-top: 25px;
    display: flex;
    grid-template-columns: 200px 200px 200px;

    gap: 15px;
    justify-content: center;
}
.container{
    width: 100%;
    min-width: 801px;
    max-width: 00px;
   
    margin-top: 25px;
    
    display: grid; 
   grid-template-columns: 200px 200px 200px;

   gap: 15px;
   justify-content: center;
}




.sub-container{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    display: grid;
    justify-content: center;
    text-align: center;
    
     
    

}

img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 20px;
    
    
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    
    color: rgb(50, 158, 107);
}


  

